# Forge
cache/
out/

# Dependencies
node_modules/

# Coverage
coverage/
coverage.json
lcov.info

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store

# IDE
.idea
.vscode

# Broadcasts (keep structure, ignore local)
broadcast/*/31337/

# Misc
/scripts/contract-addresses.json
