name: Contract Test
on:
  push:
    paths:
      - "contracts/**"
      - ".github/workflows/contract-test.yml"
  pull_request:
    paths:
      - "contracts/**"
      - ".github/workflows/contract-test.yml"

permissions:
  contents: read

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
      - uses: foundry-rs/foundry-toolchain@v1

      - name: "Build the contracts"
        working-directory: ./contracts
        run: forge build

  test:
    needs: ["build"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: foundry-rs/foundry-toolchain@v1

      - name: "Show the Foundry config"
        working-directory: ./contracts
        run: forge config

      - name: Run Tests
        working-directory: ./contracts
        run: forge test -vvv
